<div class="col" style="background-image: url(/assets/images/backCalle.png);">
    <div class="col-md-6 offset-md-3" style="text-align: center; opacity: 0.8;">
        <h3 style="height: 35px; font-size: xx-large; background-color: white;">Constelaciones</h3>
    </div>
    <div class="col-md-6 offset-md-3" style="background-color: white; border-radius: 5%; opacity: 0.9;">
        <mat-card class="example-card" *ngFor="let item of locales | async">
            <mat-card-header>
                <mat-card-title>{{ item.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Horario: {{ item.horario }}</li>
                    <li>Telefono: {{ item.telefono }}</li>
                    <li style="color: blue;">{{ item.tipo }}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="col align-self-center" style="padding: 15px; ">
    <google-map></google-map>
</div>
