extends layout

block content
  h1= title
  p Welcome to #{title}
  table
      tr
        th Nomre
        th Horario
        th Telefono
        th Tipo
      tr

    h2 Lista de locales
    <%
      if(coleccion){
        coleccion.forEach(function(locales){
    %>
    <tr>
      <td><%=locales.nombre%></td>
      <td><%=locales.horario%></td>
      <td><%=locales.telefono%></td>
      <td><%=locales.tipo%></td>
    </tr>
    <%

     });}
    %>
  </table>
