<div class="col" style="background-image: url(/assets/images/backFracc.jpg); height: 100%;">
    <div class="col-md-6 offset-md-3" style="text-align: center; opacity: 0.8;">
        <h3 style="height: 35px; font-size: xx-large; background-color: white;">Fraccionamientos</h3>
    </div>
    <div class="col-md-6 offset-md-3" style="background-color: white; border-radius: 5%; opacity: 0.9;">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Villas del Guadina II">
                <mat-selection-list [multiple]="false">
                    <mat-list-option> <a href="/calle">Constelaciones</a> </mat-list-option>
                    <mat-list-option>Orion</mat-list-option>
                    <mat-list-option>Jardines de las Rosas</mat-list-option>
                    <mat-list-option>Alcatraz</mat-list-option>
                </mat-selection-list>
            </mat-tab>
            <mat-tab label="Villas del Guadiana IV">
                <mat-selection-list [multiple]="false">
                    <mat-list-option>Coma Berenice</mat-list-option>
                    <mat-list-option>Via Lactea</mat-list-option>
                    <mat-list-option>Atares</mat-list-option>
                    <mat-list-option>Orion</mat-list-option>
                </mat-selection-list>
            </mat-tab>
            <mat-tab label="Jardines del Real IV">
                <mat-selection-list [multiple]="false">
                    <mat-list-option>Servidumbre</mat-list-option>
                    <mat-list-option>Jardin de las Rosas</mat-list-option>
                    <mat-list-option>Del Huerto</mat-list-option>
                   <mat-list-option>Cetus</mat-list-option>
                </mat-selection-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>